*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	vertical-align: baseline;
}

body{
	text-align: center;
	font-family: sans-serif;
}

.header{
    display: flex;
	justify-content: center;
    align-items: center;
}

.head{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	background: #0F0F33;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.header .logo{
	margin: 0;
	padding: 25px 30px;
}

.navbar{
	display: flex;
	margin-right: 10x;
}

.logo{
	margin-left: 30px;
	height: 100px;
}

.navbar{
	display: block;
	padding: 23px 20px;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
}

.banner{
	width: 100%;
	padding-bottom: 40px;
}

*{
    font-family: 'Work Sans', sans-serif;
}

h1{
    font-family: 'WorkSans';
}

h2{
	font-size: 22px;
	padding-left: 15%;
	font-style: normal;
	text-transform: uppercase;
}

p{
	padding-left: 15%;
	font-size: 16px;
	text-align: justify;
	padding-right: 20%;
}

.seccion1{
	text-size-adjust: 20px;
}

.button{
	border: none;
	background-color: #D39820;
	color: #fff;
	padding: 15px 15px;
	border-radius: 20px;
	font-size: 16px;
}
