*{
    margin: 0;
    padding: 0;
	font-size: 100%;
}

*{
    font-family: 'Work Sans', sans-serif;
}

.main-container{
    max-width: 1200px;
    width: 90%;
    height: inherit;
}

.header{
	height: 150px;
	width: 100%;
	background-color: #0F0F33;
    display: flex;
    align-items: center;
	justify-content: center;
}

.header .main-container nav{
	display: flex;
	flex-direction: row;
	height: inherit;
	width: 100%;
	justify-content: flex-end ;
	align-items: center;
}

header .main-container nav ul{
    list-style: none;
    display: inline;
}
header .main-container nav ul li{
    display: inline;
}

header .main-container nav ul li a{
    color: #0F0F33;
    padding: 19px;
}

.banner{
	width: 100%;
	padding-bottom: 40px;
}


body{
	text-align: center;
	font-family: sans-serif;
}
h1{
    font-family: 'WorkSans';
}

h2{
	font-size: 22px;
	padding-left: 15%;
	font-style: normal;
	text-transform: uppercase;
}

h3{
	font-size: 18px;
	font-style: normal;
	padding-left: 15%;
	padding-right: 15%;
	color: #fff;
	font-weight: 300;
	text-align: justify;

}

p{
	padding-left: 15%;
	padding-right: 15%;
	font-size: 16px;
	text-align: justify;
	
}

.seccion1{
	text-size-adjust: 20px;
}

.button{
	border: none;
	background-color: #D39820;
	color: #fff;
	padding: 15px 15px;
	border-radius: 20px;
	font-size: 16px;
}

.imagen-banner{
	background-image: url("../assets/imagenes/banner\ 2.png");
	width: 100%;
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;

}


.imagen-banner2{
	background-image: url("../assets/imagenes/Recurso\ 13.png");
	width: 100%;
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;
}


.imagen-banner3{
	background-image: url("../assets/imagenes/banner\ 3.png");
	width: 100%;
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
    justify-content: center;
    align-items: center;
}

*hr { 
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-style: inset;
	border-width: 1px;
	color: #0F0F33;
  }


.contact-form{
	background-color: #9a999f51;
	font-family: sans-serif;
    font-size: 16px;
    display: block;
    padding: 10px;
    margin: 15px;
    width: 800px;
    resize: none;
    border-radius: 10px;
    outline: none;
}